*{
    
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: rgb(179, 179, 179);
}
nav{
    background-color:gray;
    width:100%;
    overflow: auto;

}
ul{
    margin:0;
    padding:0;
    list-style: none;

}
li{
    float: left;
}
nav a{
    width:120px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color:black ;
    font-size:17px ;
    color:white;
    padding:20px 10px;
    font-family: arial;
}
nav a:hover{
    background-color:rgb(171, 169, 255) ;
    color:black

}
.container{
    max-width:1200px ;
    margin:auto;
    background-color:rgb(108, 242, 98);
    overflow: auto;
    

}
.gallery{
    margin:5px;
    border:1px solid rgb(52, 251, 2);
    float:left;
    width:390px;
    box-shadow: 0 0 5px rgb(37, 1, 246);
    
}
.gallery:hover{
    background-color: rgb(29, 2, 234);
}
.gallery img{
    width: 100%;
    height:auto;

}
.desc{
    padding:15px;
    text-align:center ;
    color:black
}
footer{
    padding: 10px;
    font-size: 17px;
    font-weight:bold ;
    text-align: center;
    background-color: gray;
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif ;
    letter-spacing:1px ;

}

